
.main-container {
	padding: 10px;
}

.left-menu {
	float: left;
	width: 24.9%;
	background-color: rgb(25, 90, 38);
}

.left-menu li {
	list-style-type: none;
	text-transform: uppercase;
}

.right-content {
	float: right;
	width: 75%;
}