
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
}

.page {
	background-color: #FFF8DC;
}

.banner {
	background-color: #F2C91F;
	padding: 20px 10px;
	margin-bottom: 20px;
	background-image: url("../images/transparent_background_for_banner.png");
	background-repeat: no-repeat;
}

.banner h1 {
	margin-top: 0;
}

.container {
	display: flex;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10px;
}

/*
*	HINT:
* we can set several components with the same definition by separating components using ","
*/
.container .left-menu,
.container .posts-area {
    border-radius: 25px;
}


.section-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px gray;
}

.left-menu {
	width: 30%;
	background-color: #FFEB98;
	padding: 10px 20px;
	box-shadow: 5px 5px 5px #888888;
}

.left-menu li {
	list-style: none;
}

.collaborator-list {
	cursor: default;
}

a {
	text-decoration: none;
	color: black;
}

.posts-area {
	width: 70%;
	padding-left: 20px;
}

/*
*	post definition			:: begins
*/

.post {
	border-bottom: solid 1px gray;
	padding-bottom: 10px;
}

.post .title {
	font-size: large;
	font-weight: bold;
}

.post .meta {
	font-style: italic;
	font-size: small;
}

.post .continue-reading {
	margin-bottom: 10px;
}

/*
*	post definition			:: ends
*/

.continue-reading {
	background-color: white;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 5px 10px;
}

.continue-reading:HOVER {
	font-size: 1.1rem;
}


/*
*	footer definition
*/
footer {
	color: white;
	width: 100%;
	font-weight: bold;
	background-color: #CBB349;
}

footer img.map-location {
	width: 400px;
	height: 250px;
}

.row-container {
	display: flex;
	width: 95%;
	margin: 0 auto;
	padding: 40px 0;
}

.row-container .column-small {
	width: 40%;
}

footer .row-container .column-big {
	width: 60%;
	text-align: right;
}


p.justify {
	text-align: justify;
}


footer li {
	list-style: none;
}


/*
* change full text of these to their corresponding codes
*/
.fb-link {
	color: rgb(59, 89, 152);
}

.gp-link {
	color: rgb(221, 75, 57);
}


/*
* seccion para colaboradores
*/
ul.collaborator-list li:HOVER {
	background-color: red;
	cursor: pointer;
}
