.general{


}
.title {

	display: block;
	float: left;
	width: 11%;
	color: white;
	height: 21%;
	margin: 0;
	padding: 0;
		
		}

.logo {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	width: 39%;
	height: 36%;

	

		
} 
.searcher{
	display: block;
	float: left ;
	width: 35%;
	height: 36%;

		
}

.profile {
	display: block;
	float: left ;
	width: 15%;
	height: 36%;

		
}

.themes {
	font-family: fantasy; 
	background-image: url(textura.jpg);
	float: left ;
	width: 9%;
	height: 64%;
	list-style-type: circle;
	text-align: center;
		 
}

.information {
	background-image: url(textura.jpg);
	font-family:cursive;
	font-size: 18;
	overflow: scroll;
	float: left;
	width: 71%;
	height: 64%;
		
}

.developments {
	background-image: url(textura.jpg);
	font-family:cursive;
	overflow: scroll;
	word-wrap: break-word;
	float: left ;
	width: 20%;
	height: 53%;
		
}

.links{
	background-image: url(textura.jpg);
	float: left;
	width: 20%;
	height: 11%;
		
}
.image{
	position: relative;
	top: 7em;
	right: -8em;
	
}
#t1:hover{
	color: #fff;
	cursor: pointer;
}
#t2:hover{
	color: #fff;
	cursor: pointer;
}

#t3:hover{
	color: #fff;
	cursor: pointer;
}
#t4:hover{
	color: #fff;
	cursor: pointer;
}
#t5:hover{color: #fff;
	cursor: pointer;
}