*{
	margin: 0;
	padding: 0;
}
<!-- TODO: hacer un contenido general del blog para darle algun fondo -->
.general{	
 	display: -webkit-flex;
	display:flex;
	width:100%;
	height:100%;
	background-color:black;
	
}


<!-- TODO: definir el espacio para trabajar en la parte de arriba--> 
.top{	

	display: flex;
	width:100%;
	background-color: green;
	}


.title {
	
	background-color:red;
	display: flex;
		
		}

.logo {
	
	background-color: yellow;
	display: flex;
}
.searcher{

	background-color: orange;	
	display: flex;
	
  margin: 0 auto;
}
#img{	
  	position: relative;
  	top: 86px;
  	left: 150px;
	margin: 0 auto;
	padding: 40px 0;
}
.profile {

	background-color: blue;
	display: flex;
}
<!-- TODO: definir el espacio para trabajar en la parte de abajo-->
.bot{
	background-color:white;	
	display:flex;
	width:100%;
	height:70%;

}
.themes {
	display: flex;
	font-family: fantasy;
	list-style-type: circle;
	text-align: center;

	background-color: black;
		 
}

.information {

	background-color: red;
	font-family:cursive;
	font-size: 18;
	display: flex;
		
}

.developments {

	background-color: blue;
	font-family:cursive;
	word-wrap: break-word;
	display: flex;
		
}

.links{

	background-color: green;
	display: flex;
		
}
#t1:hover{
	color: #fff;
	cursor: pointer;
}
#t2:hover{
	color: #fff;
	cursor: pointer;
}

#t3:hover{
	color: #fff;
	cursor: pointer;
}
#t4:hover{
	color: #fff;
	cursor: pointer;
}
#t5:hover{color: #fff;
	cursor: pointer;
}